/* eXeLearning Style Designer Compatible Style */
body{padding:0;text-align:center}
#content{width:100%;margin:0 auto;text-align:left;position:relative;border-style:solid;border-width:0}
#main-wrapper{padding-bottom:1.5em;width:100%;*width:auto}
/* * is for IE6 and IE7 */#main{padding:20px 40px 30px 320px;height:auto!important;height:200px;min-height:200px;*padding-left:0}
.no-nav #main-wrapper{width:100%}
.no-nav #main{padding:20px 20px 0 20px}
#header,#emptyHeader{border-top-width:0;border-right-width:0;border-left-width:0}
#headerContent{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;min-height:1.1em}
#nodeDecoration{background:none;padding:0;border:none;margin:20px 0;height:auto;min-height:0}
#nodeTitle{font-weight:300}
.iDevice_wrapper{margin-top:-10px}
/* Menú */#siteNav{width:280px;float:left;margin-right:40px}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav .other-section{display:none}
#siteNav a{display:block;padding:8px 10px 8px 20px;border-width:0 0 1px 0;border-style:solid}
#siteNav .active{font-weight:bold;text-decoration:underline}
#siteNav ul ul a{padding-left:35px;font-size:.95em}
#siteNav ul ul ul a{padding-left:60px}
#siteNav .daddy span{display:none}
/* IE6 */* html #siteNav a{display:inline-block;width:250px}
* html #siteNav ul ul a{width:235px}
* html #siteNav ul ul ul a{width:190px}
* html #main{padding:20px 20px 0 0}
#siteFooter{padding:0 20px 20px 20px;border:0}
/* Pagination */.pagination{text-align:right;border-top:1px solid;font-size:.95em;padding:20px 0}
.pagination .sep{display:none}
.pagination a{display:inline-block;padding:5px 10px;border-radius:5px;margin-left:20px}
.pagination a:hover,.pagination a:focus{text-decoration:none}
#topPagination{position:absolute;top:0;right:20px}
#topPagination .pagination{border:none}
#bottomPagination{clear:both}
#bottomPagination a{margin:0 20px 0 0}
.page-counter{padding:5px 0;display:inline-block}
/* Autoclear */#content{overflow:auto}
/* Hide/Show/Skip navigation */#nav-toggler{margin:0;position:absolute;top:20px;left:20px;font-size:.95em}
#nav-toggler a,#skipNav a{padding:5px 10px;border-radius:5px}
#nav-toggler a{display:block}
#nav-toggler a:hover{text-decoration:none}
#skipNav{z-index:100px;padding-top:15px;text-align:center}
/* Search bar */#exe-client-search-text{border-top-left-radius:5px;border-bottom-left-radius:5px}
#exe-client-search-submit{border-top-right-radius:5px;border-bottom-right-radius:5px}
@media screen and (max-width: 980px) {	.exe-web-site #content{width:100%;border:0;box-shadow:none}
	#main{padding:20px 30px 0 280px}
	#siteNav{width:250px;margin-right:30px}
}
@media all and (max-width: 700px) {	#headerContent{font-size:.7em;white-space:normal;padding-bottom:.5em}
	#siteNav{float:none;width:100%;padding:0}
	#siteNav{line-height:1.5em;margin-bottom:15px}
	#main-wrapper{width:100%;float:none}
    	#main,.no-nav #main{padding:10px 20px 0 20px}
    	#content .exe-col{float:none;width:100%;padding:0}
	#bottomPagination{text-align:center;height:35px;position:relative}
	#bottomPagination .prev{position:absolute;left:20px}
	#bottomPagination .next{position:absolute;right:0}
	#siteNav{border-top:1px solid}
}
@media print{	#siteNav,#nav-toggler,.noprt,.toggle-idevice{display:none}
	body #main,body.no-nav #main{padding:20px 0}
	body #content{background:#FFF}
	#headerContent{white-space:normal;text-overflow:normal;font-weight:bold}
}
/* eXeLearning Style Designer */#content{/*contentBGColor*/background-color:#ffffff;}
.pagination a,#nav-toggler a,#skipNav a{/*nav2BGColor*/background-color:#070707;/*nav2AColor*/color:#ffffff;}
.pagination a:hover,.pagination a:focus,#nav-toggler a:hover{/*nav2HoverBGColor*/background-color:#555555;}
body{/*bodyBGColor*/background-color:#ffffff;}
#siteNav,#siteNav a{/*navBGColor*/background-color:#f9f9f9;/*navAColor*/color:#555555;/*navBorderColor*/border-color:#dddddd;}
@media screen and (min-width: 701px) and (max-width: 1015px){#siteNav,#siteNav ul{background-color:#f9f9f9;border-color:#dddddd;}
#siteNav li{background-color:#f9f9f9;}
}
#siteNav a:hover,#siteNav a:focus,#siteNav a.active{/*navHoverBGColor*/background-color:#ffffff;/*navAHoverColor*/color:#000000;}
@media screen and (min-width: 701px) and (max-width: 1015px){#siteNav li:hover,#siteNav li.sfhover{background-color:#ffffff;}
}
.pagination{border-color:#dddddd;}
#bottomPagination{background-color:#ffffff;}
/* eXeLearning Style Designer (custom CSS) */

.pagination .print-page{
display:none;
}